go 1.26.2

use (
	./cmd/gen-xrd
	./functions/xtenant-render
	./functions/xtenant-validate
	./modules/gcpdns
	./modules/generator
	./modules/nextinsight
	./modules/pdns
	./modules/runner
	./types/xdeployment
	./types/xtenant
)
